DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/fintech_ledger
REDIS_URL=redis://redis:6379/0
SECRET_KEY=super_secret_dev_key_change_me_in_prod

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=fintech_ledger

SMTP_HOST=mailpit
SMTP_PORT=1025